<h1 class="display-2 fs-1 text-primary text-center"><img src='/images/23184-9-microphone-image.png' class="image-fluid" width="8%" height="8%">Podcast Finder</h1>
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item mx-1"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item mx-1"><a href="/register" class="nav-link active">Register</a></li>
      <li class="nav-item mx-1"><a href="/login" class="nav-link active">Login</a></li>
      <li class="nav-item mx-1"><a href="/profile" class="nav-link active">Favorites</a></li>
    </ul>
  