<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Include the Bootstrap partial -->
  <% include partials/bootstrap.ejs %>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="container">
    <% include partials/header.ejs %>
    <h1 class="text-center mt-5"><%= title %></h1>
    
  </div>
</body>
</html>